<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <h1>Delete a Task by ID</h1>

        <form action="deletetaskdata" method="POST">
            Task ID <input type="text" name="taskID"/></br>
            <button type="submit">Delete </button>

        </form>

        <h3>
                <a href="/">Home</a>
                <a href="/listtasks">List Tasks</a>
                <a href="/newtask">Add a Task</a>
                <a href="/views/deletecomplete">Delete Completed Tasks</a>
                <a href="/views/updatetask.html">Update Tasks</a>
        </h3>


    </body>
</html>